@use "variables";

body{
	font-family: Segoe UI, sans-serif; 
	margin-right: auto;
	margin-left: auto;
	max-width: $max-width;
    background-color: $background-color;
}

a, a:visited {
    color: $link-color;
	text-decoration: none;
    
    &:hover {
        text-decoration: underline;	
    }
}

#container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main {
    max-width: $main-width
}

blockquote {
  background: $background-code;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  border-radius: $border-radius;

  p {
    margin: 0 0 16px;
    &:last-child{
        margin: 0;
    }
  }
}

.postArchive li{
	list-style-type:none;	
}

footer {
    text-align: center;
}

/*CODE*/
div.highlight {
    overflow: auto;
    background-color: $background-code;
    border-radius: $border-radius;
}
pre.highlight {
    margin: 10px;
    padding: 16px;
    margin: 0;
    font-size: 85%;
    line-height: 1.45;
    
}
code.highlighter-rouge {
    background-color: $background-code;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    border-radius: $border-radius;
}


/* TABLE */
table {
    border-collapse: collapse;
    overflow-x: scroll;
}
tbody tr:nth-child(even) {
    background-color: #DDDDDD;
}
thead th {
    border-bottom: 4px black double;
}
tbody td:not(:first-child) {
    border-left: 1px solid black;
}
th, td{
    padding: 5px;
}

.benchmark {
    table td {
        text-wrap: nowrap;
    }
    overflow-x: scroll;
}