<!DOCTYPE html >
<html>
	<head>
		<meta content="en-gb" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />		
		<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{{ page.title }} - {{ site.title }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<link rel="shortcut icon" href="/assets/img/favicon.svg" />
	</head>
	<body>
		<header>
			<h1><a href="/" title="home" alt="home">Correlated Content</a></h1>			
			<a href="/" title="home" alt="home" id="banner">
				<img src="/assets/img/header.jpg" alt="Correlated Content" />
			</a>
		</header>

		{% include navigation.html %}
		
		<div id="container">
			<main>
				{{content}}
			</main>
			<aside>
				<div id="avatar">
					<img src="/assets/img/avatar.jpg" />
				</div>
				<div id="blurb">
					<p>My name is Lodewijk Sioen and I am a Cloud Architect at <a href="https://www.codit.eu">Codit</a>. I live in Bruges, Belgium.</p>
				</div>
				<div id="socials">
					<a href="https://github.com/LodewijkSioen" title="github" target="_blank">
						<img src="/assets/img/github.svg" title="github" />
					</a>
					<a rel="me" href="https://hachyderm.io/@lodewijksioen" title="mastodon" target="_blank">
						<img src="/assets/img/mastodon.svg" title="mastodon"/>
					</a>
					<a href="https://stackoverflow.com/users/66842/lodewijk" title="Stack Overflow" target="_blank">
						<img src="/assets/img/stackoverflow.svg" title="Stack Overflow" id="stackoverflow" />
					</a>
					<a href="/feed.xml" title="RSS feed">
						<img src="/assets/img/rss.svg" title="RSS feed" />
					</a>
				</div>
			</aside>
		</div>
		<footer>
			<p>&copy; {{ "now" | date: "%Y" }}, <a rel="author" href="{{ "/" | absolute_url }}">Lodewijk Sioen</a>.</p>
		</footer>		
		<script type="module">
			import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
			mermaid.initialize({ startOnLoad: false });
			mermaid.run({
				querySelector: ".language-mermaid"
			});
		</script>
	</body>	
</html>